   
    <div class="rightpanel">
        
        <ul class="breadcrumbs">
            <li><a href="#"><i class="iconfa-home"></i></a> <span class="separator"></span></li>
            <li><a href="#studentadmission">Student Admission</a>
        
        </ul>
        
        <div class="pageheader">
          <form class="navbar-form navbar-right" role="search" data-bind="submit:search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
            <div class="pageicon"><span class="iconfa-pencil"></span></div>
            <div class="pagetitle">
                <h5>Student Admission</h5>
                <h1>Step 3 - Previous Education Details</h1>
            </div>
        </div><!--pageheader-->
        
        <div class="maincontent">
            <div class="maincontentinner">
            
            <div class="widget">
            <h4 class="widgettitle">Previous Education Details</h4>
            <div class="widgetcontent">
                <form class="stdform"  method="post">
                        
                     

                        <p>
                            <label>Institution Name</label>
                            <span class="field"><input type="date" name="admission_date" class="input-xlarge" placeholder="Name" /></span>
                        
                        </p>
                        
                                      

                     

                        <p>
                            <label>Year</label>
                            <span class="field"><input type="date" name="admission_date" class="input-xlarge" placeholder="Year" /></span>
                        
                        </p>
                        

                        <p>
                            <label>Total Mark </label>
                            <span class="field"><input type="date" name="class" class="input-xlarge" placeholder="Mark" /></span>
                        
                        </p>

                        
                      
                     
          
               
                   <a style="position:relative; margin-right:2px" href="#parentdetails" class="btn btn-primary btn-rounded"> <i class=" iconfa-play"></i>  &nbsp; Save & Proceed</a>  
                   <a style="position:relative; margin-right:2px" href="#parentdetails" class="btn btn-primary btn-rounded"> <i class=" iconfa-play"></i>  &nbsp; Skip step</a>     
                </form>
            </div><!--widgetcontent-->
            </div><!--widget-->
            
                </div><!--widgetcontent-->
            </div><!--widget-->