<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>HSERP : User Registration </title>
<link rel="stylesheet" href="css/style.default.css" type="text/css" />
<link rel="stylesheet" href="css/style.shinyblue.html" type="text/css" />

<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="js/modernizr.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

</head>

<body class="loginpage" >

<div class="regpanel">
    <div class="regpanelinner">
        <div class="pageheader">
            <div class="pageicon"><span class="iconfa-hand-down"></span></div>
            <div class="pagetitle">
                <h5>Your Information</h5>
                <h1>Sign Up</h1>
            </div>
        </div>
        <div class="regcontent">
        
            
            
            <form action="#" method="post" class="stdform">
                
                <h3 class="subtitle">Login Information</h3>
                <p><input type="text" name="username" class="input-block-level" placeholder="Username" /></p>
                <p><input type="password" name="password" class="input-block-level" placeholder="Password" /></p>
                <p><input type="password" name="cpassword" class="input-block-level" placeholder="Confirm Password" /></p>
                
                <h3 class="subtitle">User Information</h3>
                <p><input type="text" name="fullname" class="input-block-level" placeholder="Fullname" /></p>
                <p><input type="text" name="email" class="input-block-level" placeholder="Email" /></p>
                
                <h3 class="subtitle">Birthday</h3>
                <p><input type="date" name="date" class="input-block-level" placeholder="Birthday" /></p>

                <h3 class="subtitle">Gender</h3>
                <p>
                    <input type="radio" /> Male &nbsp;&nbsp;
                    <input type="radio" /> Female
                </p>
                <p><button class="btn btn-primary">Register</button></p>
                
            </form>
        
        </div><!--regcontent-->
    </div><!--regpanelinner-->
</div><!--regpanel-->

<div class="regfooter">
    <p>&copy; 2014. HSERP. All Rights Reserved.</p>
</div>

</body>

</html>
